.app {
  $primary-color: rgb(11, 162, 107);
  $primary-color-variant-1: rgba(11, 162, 107, 0.561);
  $primary-color-variant-2: rgba(11, 162, 107, 0.16);
  $secondary-color: rgb(3, 12, 55);
  $secondary-color-variant-1: rgba(3, 12, 55, 0.59);
  $secondary-color-variant-2: rgba(3, 12, 55, 0.378);
  $lightgray: rgb(227, 227, 227);
  $gray: rgb(144, 144, 144);

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      90deg,
      $primary-color-variant-1,
      $primary-color
    );

    .navbar {
      padding-right: 20px;
    }

    .navbar {
      ul {
        display: flex;
        list-style: none;
        gap: 30px;
      }
    }
  }

  .footer {
    background-color: $secondary-color;
    color: $gray;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }
}
